<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<div id="my" style="width: 500px;height: 500px;"></div>
</body>
<script type="text/javascript" src='../public/javascripts/wordcloud2.js'></script>
<script type="text/javascript">
    var a = [['我试试',12],
        ['阿萨德',2],
        ['问',7],
        ['V字形从',6],
        ['程序中',2],
        ['士大夫',5],
        ['秩序册',10],
        ['我试试',18],
        ['暗示vc安慰',20],
        ['是的',11]];
    WordCloud(document.getElementById('my'), { list: a } );
</script>
</html>